documentation/Mini-Docu.lnk
documentation/OCR Stuff/2015-05-29 StandaloneOcr_Output.txt
documentation/OCR Stuff/GetWindowContent.rar
documentation/OCR Stuff/OcrPlayground.rar
documentation/OCR Stuff/StandaloneOcr.rar
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
/deployment/PersonalDeveloperAnalytics.old.rar
*.DS_Store
*.lock
*.ide-wal
*.ide-shm
*.ide
GRDB.swift
*.log
.DS_Store
.build
Skype.framework
Podfile.lock
Pods
*.xcworkspace
src/client/AM.PA.MacOs/PersonalAnalytics.xcodeproj/
