<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccessData" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pluto.ifi.uzh.ch/HostedServices/AccessData.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessData"
                contract="AccessDataService.IAccessData" name="BasicHttpBinding_IAccessData" />
        </client>
    </system.serviceModel>
</configuration>