<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_SUPPORT_DIR</key>
	<string>$(APP_SUPPORT_DIR)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ERRORS_LOG_FILE</key>
	<string>$(ERRORS_LOG_FILE)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Please give Personal Analytics access to Google Chrome or Safari via Apple Script.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>RETROSPECTIVE_PORT</key>
	<string>$(RETROSPECTIVE_PORT)</string>
	<key>SQLITE_DB_NAME</key>
	<string>$(SQLITE_DB_NAME)</string>
	<key>STATUS_BAR_ICON</key>
	<string>$(STATUS_BAR_ICON)</string>
	<key>SUFeedURL</key>
	<string>https://pluto.ifi.uzh.ch/PersonalAnalytics-MAC-master/versions/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ftdekm+o5Fq6IaZ3o1/97JSW1+UvnwxZ5G9ExMxWHD8=</string>
	<key>SUScheduledCheckInterval</key>
	<string>3600</string>
</dict>
</plist>
