<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLaunchHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Launcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LauncherApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PersonalAnalytics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DB3DF231BAF49AC00144935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B96DD1C01F0EDB4000357F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9B5C4D81F0DB23000AC7DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9B5C4FB1F0DB28800AC7DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9F4AD0B1F0DB55800DCA9DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
